AWS_REGION=us-east-1
S3_BUCKET=replace-with-your-bucket-name
SNOWFLAKE_ACCOUNT=replace-me
SNOWFLAKE_USER=replace-me
SNOWFLAKE_WAREHOUSE=replace-me
SNOWFLAKE_DATABASE=ENTERPRISE_MEDALLION_DB
SNOWFLAKE_ROLE=replace-me
